{% load staticfiles %}
{#{% load compress %}#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <link rel="icon" sizes="512x512" href="{% static 'img/icons/nokia_4.jpg' %}">
    <link href="" rel="stylesheet">

    <title>{% block title %} Automated Platform {% endblock %}</title>
    <meta name="description" content="The Automated Platform for Nokia!">
    <!-- CSS -->
{#    {% compress css %}#}
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap-theme.css' %}" rel="stylesheet">
    <link href="{% static 'css/sticky-footer-navbar.css' %}" rel="stylesheet">
    <link href="{% static 'datetimepicker/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">

    {% block extracss %}{% endblock %}
{#    {% endcompress %}#}

    <!-- Add custom CSS here -->
    {% block customcss %}
        <style>
            body {padding-bottom: 40px;}
        </style>
    {% endblock %}
    {% block extrahead %}{% endblock %}
</head>
<body>
    {#bootstrap navbar#}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-hearder">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% if user.is_authenticated %}
                <a class="navbar-brand" href="{% url 'dashboard' %}">
                    <span class="fa fa-cog fa-spin"></span> AutomatedPlatform</a>
                {% else %}
                <a class="navbar-brand" href="/">
                    <span class="fa fa-cog fa-spin"></span> AutomatedPlatform</a>
                {% endif %}
            </div>

            <!-- Search Bar-->
            <div>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Go</button>
                </form>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
{#                        <li><a href="{% url 'glucose_create' %}">#}
{#                            <span class="fa fa-plus"></span>&nbsp;New Date</a>#}
{#                        </li>#}
                        <li><a href="{% url 'dashboard' %}">
                            <span class="fa fa-th"></span>&nbsp;Dashboard</a>
                        </li>

                        {#In log-in status, Report#}
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="fa fa-bar-chart"></span>&nbsp;Reports <b class="caret"></b></a>
                        <ul class="dropdown-menu">
{#                            <li><a href="{% url 'glucose_filter' %}">Filter Data</a></li>#}
{#                            <li><a href="{% url 'glucose_charts' %}">Charts & Graphs</a></li>#}
{#                            <li class="divider"></li>#}
{#                            <li><a href="{% url 'glucose_email_report' %}">Email Report</a></li>#}
                        </ul>
                        </li>

                        {#In log-in status, User name#}
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="fa fa-user"></span>&nbsp;
                            {{ user }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'usersettings' %}">Account Settings</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'password_change' %}">Change Password</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'data_import' %}">Import Data from CSV</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'help' %}">Help</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'logout' %}">Log Out</a></li>
                        </ul>
                        </li>
                    {% else %}
                        <form class="navbar-form navbar-right">
                        <button type="button" class="btn btn-primary"
                            onclick="location.href=&quot;{% url 'login' %}&quot;;">
                            Log In</button>
                        <button type="button" class="btn btn-success"
                            onclick="location.href=&quot;{% url 'signup' %}&quot;;">
{#                            onclick="location.href=&quot;/accounts/signup/&quot;;">#}
                            Sign Up</button>
                        </form>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% block rootcontainer %}
        <div class="container">
            <div class="row">
                {% block breadcrumbs %}{% endblock %}
                <div class="col-lg-12">

                    <div class="page-header">
                        {% block heading %}{% endblock %}
                    </div>

                    {% block content %}{% endblock %}
                </div>
            </div>
        </div><!-- /.container -->
    {% endblock %}



    <!-- FOOTER -->
    <div class="footer">
        <div class="container">
            <footer>
                <p class="pull-right"><a href="#">Back to top</a></p>
                <p class="text-muted">
                &copy; 2017 AutomatedPlatform.net by <a style="color:#4169E1">Liexuan</a> | <a style="color:#4169E1">Hearen</a>
                </p>
            </footer>
        </div>
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
{#    {% compress js %}#}
    <script src="{% static 'jquery/jquery-3.2.1.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'momentjs/moment.min.js' %}"></script>
    <script src="{% static 'datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'jquery-validation/dist/jquery.validate.js' %}"></script>
    {% block extrajs %}{% endblock %}
{#    {% endcompress %}#}

    {% if intercom_app_id %}
    <!-- Intercom.io script for user tracking. -->
    <script id="IntercomSettingsScriptTag">
      window.intercomSettings = {
        name: "{{ user }}",
        email: "{{ user.email }}",
        created_at: {{ user.date_joined|date:'U' }},
        app_id: "{{ intercom_app_id }}"
      };
    </script>
{#    <script>#}
{#        (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://static.intercomcdn.com/intercom.v1.js';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>#}
    {% endif %}

    <!-- Disable submit buttons after click to prevent multiple submissions. -->
    <script type="text/javascript">
        $(function () {
            $('form').submit(function(){
                $(this).find('input[type=submit]').prop('disabled', true);
            });
        });
    </script>
    {% block extrajsexternal %}{% endblock %}
</body>
</html>